[Unit]
Description=ljfxznode Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999
WorkingDirectory=/usr/local/ljfxznode/
ExecStart=/usr/local/ljfxznode/ljfxznode server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
